.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.vscode/settings.json
gigasound-hw/gigasound-hw-backups/
gigasound-hw/gigasound-hw.kicad_sch-bak
gigasound-hw/~gigasound-hw.kicad_sch.lck
gigasound-hw/fp-info-cache
gigasound-hw/gigasound.bak
gigasound-hw/~*.lck
gigasound-hw/production/
include/assets.h
src/assets/
emulator/emu